ul{
   
    padding-top: 10px;
    list-style-image: url("../img//1b.png");
    list-style-position: inherit;
    

}

p{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 10px;
    
}
.negrita{
    font-family:   Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    font-weight: bold;
       
}
.gris , .negrita span{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
    font-size: 10px;
    font-weight: normal;
        
}
.gris span{
    word-spacing: 50px;
}
